<!DOCTYPE html>
<html>
<head><title>404 Not Found</title></head>
<body style="text-align:center; padding-top:50px; font-family:sans-serif;">
    <h1>404</h1>
    <h3>哎呀，页面走丢了...</h3>
    <p>你访问的星球不存在。</p>
    <a href="/">返回首页</a>
</body>
</html>